<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title layout:fragment="title">Звання</title>
<link rel="stylesheet" th:href="@{/css/lists.css}">
<link rel="icon" type="image/png" th:href="@{/favicon.png}">
</head>
<body>
	<div layout:fragment="content" class="list-container">

		<div class="list-header">
			<h2>Список звань</h2>
			<a class="btn-add" th:href="@{/ranks/new}">+ Додати
				нове</a>
		</div>

		<table class="list-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Назва</th>
					<th>Активний</th>
					<th>Дії</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="rank : ${ranks}">
					<td th:text="${rank.id}"></td>
					<td th:text="${rank.name}"></td>
					<td th:text="${rank.isActive} ? 'Так' : 'Ні'"></td>
					<td class="table-actions"><a
						th:href="@{'/ranks/edit/' + ${rank.id}}" class="btn-edit">Редагувати</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pagination">
			<span
				th:text="'Записи ' + (${currentPage}-1)*${pageSize}+1 + ' - ' +
        ((${currentPage}-1)*${pageSize} + ${ranks.size()}) +
        ' з ' + ${totalRecords}">
			</span>

			<div class="pagination-buttons">
				<a th:if="${currentPage > 1}"
					th:href="@{/ranks(page=${currentPage - 1}, size=${pageSize})}">
					&laquo; Назад </a> <a th:if="${currentPage < totalPages}"
					th:href="@{/ranks(page=${currentPage + 1}, size=${pageSize})}">
					Вперед &raquo; </a>
			</div>
		</div>

	</div>
</body>
</html>
