<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Головна</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.png}">
</head>
<body>
<div layout:fragment="content">
    <div class="welcome-image-container">
        <img th:src="@{/images/welcome.jpg}" style="max-width: 100%; height: auto; border-radius: 8px;">
    </div>
</div>
</body>
</html>


