<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title layout:fragment="title">My App</title>
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="icon" type="image/png" th:href="@{/favicon.png}">
</head>
<body>
	<div class="page-container">

		<!-- Меню зліва -->
		<div class="sidebar">
			<ul>
				<li><a th:href="@{/home}"
					th:classappend="${activePage == 'home'} ? ' active'">Головна</a></li>
				<li><a th:href="@{/dbusers}"
					th:classappend="${activePage == 'dbusers'} ? ' active'">Користувачі
						баз даних</a></li>
				<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/databases}"
					th:classappend="${activePage == 'databases'} ? ' active'">Бази
						даних</a></li>
				<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/database-roles}"
					th:classappend="${activePage == 'database-roles'} ? ' active'">Ролі
						баз даних</a></li>
				<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/certificate-types}"
					th:classappend="${activePage == 'certificate-types'} ? ' active'">Типи
						сертифікатів</a></li>
				<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/departments}"
					th:classappend="${activePage == 'departments'} ? ' active'">Підрозділи</a></li>
				<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/ranks}"
					th:classappend="${activePage == 'ranks'} ? ' active'">Звання</a></li>
				<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/users}"
					th:classappend="${activePage == 'users'} ? ' active'">Користувачі
						ІС</a></li>
				<li><a th:href="@{/reports}"
					th:classappend="${activePage == 'reports'} ? ' active'">Звіти</a></li>
				<li class="logout">
					<form th:action="@{/logout}" method="post">
						<button type="submit" class="logout-btn">Вихід</button>
					</form>
				</li>
			</ul>
		</div>

		<!-- Контент справа -->
		<div class="content">
			<div layout:fragment="content"></div>
		</div>

	</div>
	<div layout:fragment="scripts"></div>
</body>
</html>
