<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title layout:fragment="title"
	th:text="${database.id} == null ? 'Створити базу даних' : 'Редагувати базу даних'"></title>
<link rel="stylesheet" th:href="@{/css/forms.css}">
</head>
<body>
	<div layout:fragment="content" class="form-container">

		<h2
			th:text="${database.id} == 0 ? 'Створити базу даних' : 'Редагувати базу даних'"></h2>

		<form th:object="${database}" th:action="@{/databases}" method="post">

			<input type="hidden" th:field="*{id}" /> <label for="name">Назва:</label>
			<input type="text" id="name" th:field="*{name}" required /> <label>
				<input type="checkbox" th:field="*{isActive}" /> Активний
			</label>

			<div class="form-buttons">
				<button type="submit" class="btn-add">Зберегти</button>
				<a th:href="@{/databases}" class="btn-cancel">Скасувати</a>
			</div>
		</form>

	</div>
</body>
</html>
