<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title layout:fragment="title">Бази даних</title>
<link rel="stylesheet" th:href="@{/css/lists.css}">
<link rel="icon" type="image/png" th:href="@{/favicon.png}">
</head>
<body>
	<div layout:fragment="content" class="list-container">

		<h2>Список баз даних</h2>

		<!-- Кнопка додавання нової бази -->
		<a class="btn-add" th:href="@{/databases/new}">+ Додати нову базу
			даних</a>

		<table class="list-table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Назва</th>
					<th>Активний</th>
					<th>Дії</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="database : ${databases}">
					<td th:text="${database.id}"></td>
					<td th:text="${database.name}"></td>
					<td th:text="${database.isActive} ? 'Так' : 'Ні'"></td>
					<td class="table-actions"><a
						th:href="@{'/databases/edit/' + ${database.id}}" class="btn-edit">Редагувати</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pagination">
			<span
				th:text="'Записи ' + (${currentPage}-1)*${pageSize}+1 + ' - ' +
        ((${currentPage}-1)*${pageSize} + ${databases.size()}) +
        ' з ' + ${totalRecords}">
			</span>

			<div class="pagination-buttons">
				<a th:if="${currentPage > 1}"
					th:href="@{/databases(page=${currentPage - 1}, size=${pageSize})}">
					&laquo; Назад </a> <a th:if="${currentPage < totalPages}"
					th:href="@{/databases(page=${currentPage + 1}, size=${pageSize})}">
					Вперед &raquo; </a>
			</div>
		</div>

	</div>
</body>
</html>
