<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Список користувачів</title>
    <link rel="stylesheet" th:href="@{/css/lists.css}">
</head>
<body>
<div layout:fragment="content" class="list-container">

    <h2>Список користувачів</h2>

    <a class="btn-add" th:href="@{/users/new}">+ Додати користувача</a>

    <table class="list-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Логін</th>
                <th>Роль</th>
                <th>Активний</th>
                <th>Департамент</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.isActive}"></td>
                <td th:text="${user.department != null ? user.department.name : ''}"></td>
                <td class="table-actions">
                    <a th:href="@{'/users/edit/' + ${user.id}}" class="btn-edit">Редагувати</a>
                    <a th:href="@{'/users/delete/' + ${user.id}}" class="btn-delete"
                       onclick="return confirm('Видалити цього користувача?');">Видалити</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>
